.content{
	width: 100%;
	min-height: 200px;
	text-align: center;
	background: white;
	padding-bottom: 20px;
}
.content p{
	margin: 0;
	padding: 20px;
	letter-spacing: 2px;
}
#home{
	background: white;
}
#home:before{
	content:"";
	display: block;
	position: relative;
	top: -40px;
	left: 50%;
	margin-left: -50px;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 0 50px 40px 50px;
	border-color: transparent transparent white transparent;
}
#news{
	background: #F79937;
}